{% extends "core/base.html" %}
{% load  static %}

{% block content %} 

<div class=" mt-5 text-center">
    <img src="{% static 'core/image/sys.jpg' %}" alt="profilepic" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
</div>
    <div class="mt-5 text-white mt-5 text-justify">
        <h1 class="font-weight-bold">Hello</h1>
    <div>
      
        <p style="text-indent:100px;">I am writing to express my interest in the Django developer role advertised on your website. As a recent post-graduate with a Master Digree from Madan Mohan Malaviya University, I am eager to embark on a professional journey and believe that my academic background, coupled with my enthusiasm for Coding, make me a well-suited candidate for this role.</p>
  
       
  
        <p>During my academic tenure, I had the opportunity to extracurricular activities. These experiences have not only refined my technical abilities but have also instilled in me the importance of collaboration, adaptability, and a proactive approach to problem-solving.</p>
  
        
        <p>I am excited about the possibility of contributing to a dynamic and innovative team and am eager to learn from and grow with your esteemed organization. I am confident in my ability to make meaningful contributions and would welcome the opportunity to further discuss how my skills align with the goals of your team.</p>
      </div>
    </div>
    <div class="text-center">
    <a href="" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
    <a href="" class="btn btn-outline-info my-3">Contact</a>

    </div>
</div>


{% endblock content  %}
