{% extends "core/base.html" %}

{% block content %}
  <div class="mt-5">
    <h1 class="text-warning mb-4 border-bottom">SERVICES</h1>

    <div class="row justify-content-center text-center text-white mb-5">
      <div class="col-sm-4">
        <i class="fas fa-search-dollar fa-2x mb-3 text-warning"></i>
        <h3 class="text-warning">Web Development</h3>
        <p>Web development is a broad term that encompasses the tasks associated with developing websites and web applications for the internet.</p>
      </div>
    </div>

    <div class="row justify-content-center text-center text-white mb-5">
      <div class="col-sm-4">
        <i class="fas fa-search-dollar fa-2x mb-3 text-success"></i>
        <h3 class="text-warning">AI/ML</h3>
        <p>AI (Artificial Intelligence) and ML (Machine Learning) are cutting-edge technologies that have gained significant prominence in various industries.</p>
      </div>
      <div class="col-sm-4">
        <i class="fas fa-search-dollar fa-2x mb-3 text-info"></i>
        <h3 class="text-warning">Django Development</h3>
        <p>Django is a high-level, Python-based web framework that encourages rapid development and clean, pragmatic design. It follows the Model-View-Controller (MVC) architectural pattern, but in Django, it's often referred to as Model-View-Template (MVT).</p>
      </div>
      <div class="col-sm-4">
        <i class="fas fa-search-dollar fa-2x mb-3 text-primary"></i>
        <h3 class="text-warning">Python Development</h3>
        <p>Python is a versatile and powerful programming language that is widely used for various applications, including web development, data analysis, artificial intelligence, machine learning, automation, and more.</p>
      </div>
    </div>
  </div>
{% endblock content %}
